
<div class="nav" >
    <div class="bar" (click)="openModal()">
        <img class="img-bar" src="https://i.imgur.com/IPjC0TC.png" alt="">
    </div>
    <div class="iphone"> 
        <div class="item telefono"><img [src]="getImageUrlWeb('iconos', 'llamar.png')" alt=""><a href="tel:+34602451849">641161427</a></div>
    </div>
    <div class="menu" *ngIf="isVisible">
        <p class="cerrar" (click)="closeModal()">
            X
        </p>
        <ul class="options">
            <li class="item" (click)="redirect('/home')">Inicio</li>
            <li class="item" (click)="redirect('/browser')">Propiedades</li>
            <li class="item" (click)="redirect('/nosotros')">Nosotros</li>
            <li class="item" (click)="redirect('/contact')">Contactos</li>
        </ul>
        
    </div>
</div>