<nav class="navbar" [class.scrolled]="scrolled">
    <div class="contenedor">
        <ul class="mainContent">
            <li class="item">Inicio</li>
            <li class="item">Propiedades</li>
            <li class="item">Nosotros</li>
            <li class="item">Blog</li>
        </ul>
        <div class="logo">
            <p>inmoYS</p>
        </div>
        <ul class="contacts">
            <li class="item">Contactos</li>
            <li class="item">Valoración de vivienda</li>
            <li class="item">641161427</li>
        </ul>
    </div>
</nav>