.contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 50px;
    
}


.mainContent{
    display:flex;
    align-items: center;
    gap: 20px;
    color: white;
}

.contacts{
    display:flex;
    align-items: center;
    gap: 30px;
    color :white;
}



.navbar {
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
    color: #ffffff; /* Texto blanco cuando el fondo es transparente */
    box-shadow: 0 0 10px -3px rgba(66, 78, 91, .34);
}

.navbar.scrolled {
    background-color: #fffffff5; /* Fondo blanco */
    color: #1b3942; /* Texto negro cuando haces scroll */
   
}

/* Estilo específico para los elementos dentro del navbar */
.navbar.scrolled .mainContent .item,
.navbar.scrolled .contacts .item,
.navbar.scrolled .logo p {
    color: black; /* Cambiar el color de los enlaces y logo a negro */
}

/* Mantén los colores originales para cuando el fondo es transparente */
.navbar .mainContent .item,
.navbar .contacts .item,
.navbar .logo p {
    color: white; /* Texto blanco cuando el fondo es transparente */
}