.contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 63px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 50px;
    
}

.logo{
    cursor: pointer;
}


.mainContent{
    display:flex;
    align-items: center;
    gap: 20px;
    color: white;
}

.mainContent li{
    cursor: pointer;
}

.contacts{
    display:flex;
    align-items: center;
    gap: 30px;
    color :white;
}

.contacts li{
    cursor: pointer;
}

.contacts li a{
    cursor: pointer;
}

.contacts .telefono{
    background-color: #2c6678;
    height: 35px;
    width: auto;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 7px;
}

.contacts .telefono img{
    height: 30px;
    width: 30px;
    padding: 5px;
}


.contacts .telefono a{
    color: white !important;
}



.navbar {
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
    color: #ffffff; /* Texto blanco cuando el fondo es transparente */
    box-shadow: 0 0 10px -3px rgba(66, 78, 91, .34);
}

.navbar.scrolled {
    background-color: #ffffff; /* Fondo blanco */
    color: #1b3942; /* Texto negro cuando haces scroll */
   
}

/* Estilo específico para los elementos dentro del navbar */
.navbar.scrolled .mainContent .item,
.navbar.scrolled .contacts .item,
.navbar.scrolled .contacts .item a,
.navbar.scrolled .logo p {
    color: black; /* Cambiar el color de los enlaces y logo a negro */
}

/* Mantén los colores originales para cuando el fondo es transparente */
.navbar .mainContent .item,
.navbar .contacts .item,
.navbar .logo p {
    color: white; /* Texto blanco cuando el fondo es transparente */
}