
<button class="whatsapp-btn"><a href="https://wa.me/34602451849" target="_blank" ><img src="https://i.imgur.com/pAJQjkz.png" alt=""></a></button>

<div class="contenedor">
    <header class="header-contenedor">
        <div class="header-contenedor-secundario">
            <!-- <div class="nav">
                <app-nav></app-nav>
            </div> -->
                <div class="header-tittle">
                    <p>El mejor lugar <br> para encontrar tu hogar</p>
                </div>
                <div class="searchWrapper">
                    <div class="search">
                        <input id="zona" type="text" placeholder="Buscar...">
                    </div>

                    <div class="propertyType">
                        <select id="tipoPropiedad" name="tipoPropiedad">
                            <option value="" disabled selected>Tipo De Propiedad</option>
                            <option value="vivienda">vivienda</option>
                            <option value="oficina">Oficina</option>
                            <option value="edificio">Edificio</option>
                            <option value="terreno">Terreno</option>
                        </select>
                    </div>

                    <div class="transactionType">
                        <select id="tipoTransaccion" name="tipoTransaccion">
                            <option value="" disabled selected>Comprar O Alquilar</option>
                            <option value="venta">Comprar</option>
                            <option value="alquiler">Alquilar</option>
                        </select>
                    </div>
                    <div class="buttonSearch">
                        <button (click)="buscar()">BUSCAR</button>
                    </div>
                </div>
        </div>
    </header>






















    <section class="properties">
        <div class="header">
            <p>Propiedades Disponibles</p>
        </div>
        <div class="filters">
            <ul class="lista">
                <li [ngClass]="{ 'filterActive': filterActive === 'alquiler' }" class="item" (click)="filterProperties('alquiler')">
                    <img src="https://i.imgur.com/466gpFg.png" alt="">
                    <p>Alquilar</p>
                </li>
                <li [ngClass]="{ 'filterActive': filterActive === 'venta' }" class="item" (click)="filterProperties('venta')">
                    <img src="https://i.imgur.com/ybFBRp5.png" alt="">
                    <p>Comprar</p>
                </li>
                <li [ngClass]="{ 'filterActive': filterActive === 'todos' }" class="item" (click)="filterProperties('todos')">
                    <img src="https://i.imgur.com/VUbVc9R.png" alt="">
                    <p>Todos</p>
                </li>
            </ul>
        </div>
        <div class="listProperties">




            <div class="cardPropertie" *ngFor="let property of filteredProperties">
                <div class="cardContent">
                    <div class="splide">
                        <div class="transaction">
                            <p>{{ property.transaccion === 'compra' ? 'Venta' : property.transaccion }}</p>
                        </div>
                        <swiper-container [navigation]="{ nextEl: '.swiper-button-next', prevEl: '.swiper-button-prev' }" mousewheel-force-to-axis="true" class="mySwiper">
                            <swiper-slide class="splide_slide" *ngFor="let imagen of property.image">
                                <img class="imagen-slide" [src]="getImageUrl(property.id_property, imagen)" alt="Imagen de la propiedad">
                            </swiper-slide>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </swiper-container>
                        <div class="photo-agent">
                            <img class="img-agent" src="https://i.imgur.com/1aF2eY7.png" alt="">
                        </div>
                    </div>
                    <div class="body" [routerLink]="['/propiedad', property.sku]">
                        <p class="precio">€ {{ property.precio }}</p>
                        <p class="descripcion">{{ property.tipo }} en {{ property.ciudad }}, {{ property.zona }}</p>
                    </div>
                    <div class="footer" [routerLink]="['/propiedad', property.sku]">
                        <p>Hab: {{ property.detalles.habitaciones }}</p>
                        <p>Baños: {{ property.detalles.banos }}</p>
                        <p>m²: {{ property.detalles.tamano }}</p>
                    </div>
                </div>
            </div>
            



           
        </div>
        <div class="footer-properties">
            <button routerLink="/browser">Ver Mas Propiedades</button>
        </div>
    </section>


























    <section class="services">
        <div class="services-container">
            <div class="left">
                <h2>Ayudamos a nuestros clientes a vender, comprar o alquilar propiedades sin complicaciones.</h2>
                <p>Gracias a su excepcional experiencia y conocimiento de los mercados de lujo frente al mar, Roland presta servicios a una amplia y selecta base de clientes de todo el mundo. Goza de una reputación de corredor tenaz.</p>
                <ul>
                    <li><img src="https://i.imgur.com/0RmqPmF.png" alt="Check"> Soporte disponible 24 horas al día, 7 días a la semana</li>
                    <li><img src="https://i.imgur.com/0RmqPmF.png" alt="Check"> Nuestro apoyo legal experto</li>
                    <li><img src="https://i.imgur.com/0RmqPmF.png" alt="Check"> Envío gratuito en nuestro sitio web</li>
                    <li><img src="https://i.imgur.com/0RmqPmF.png" alt="Check"> Asistencia para préstamos hipotecarios por parte de nuestro personal</li>
                </ul>
                <button>Contáctanos hoy</button>
            </div>
    
            <div class="center">
                <div class="card">
                    <div class="img"><img src="https://i.imgur.com/cMPvBzH.png" alt="Ícono de cámara"></div>
                    <h3>Sesión de fotos gratis</h3>
                    <p>Hacemos una evaluación gratuita para estar seguros de que quieres empezar a vender.</p>
                    <a href="#">Leer más</a>
                </div>
            </div>
    
            <div class="right">
                <div class="card">
                    <div class="img"><img src="https://i.imgur.com/bl2m8SS.png" alt="Ícono de casa"></div>
                    <h3>Vende tu casa</h3>
                    <p>Hacemos una evaluación gratuita para estar seguros de que quieres empezar a vender.</p>
                    <a href="#">Leer más</a>
                </div>
                <div class="card">
                    <div class="img"><img src="https://i.imgur.com/dKcHDs1.png" alt="Ícono de apretón de manos"></div>
                    <h3>Comprar una casa</h3>
                    <p>Hacemos una evaluación gratuita para estar seguros de que quieres empezar a vender.</p>
                    <a href="#">Leer más</a>
                </div>
            </div>
        </div>
        </section>





























    <section class="featured-section">
        <div class="header">
            <p class="title">Propiedades Destacadas</p>
            <p class="paragraph">Con una atención incomparable a los detalles, una artesanía superior y comodidades deseables, cada propiedad destacada encarna el epítome de la vida de lujo.</p>
        </div>

        <div  class="featured-properties-list">
            <div *ngFor="let property of dataPropertiesDestacadas" class="featured-property-card">
                <div class="splide2">
                    <div class="transaction">
                        <p>{{ property.transaccion === 'compra' ? 'Venta' : property.transaccion }}</p>
                    </div>
                    <swiper-container [navigation]="{ nextEl: '.swiper-button-next', prevEl: '.swiper-button-prev' }" mousewheel-force-to-axis="true" class="mySwiper">
                       <swiper-slide class="splide_slide" *ngFor="let imagen of property.image">
                          <img class="imagen-slide" [src]="getImageUrl(property.id_property, imagen)" alt="Imagen de la propiedad">
                       </swiper-slide>
                       <div class="swiper-button-next"></div>
                       <div class="swiper-button-prev"></div>
                    </swiper-container>
                    <div class="price">
                        <p>€ {{property.precio}}</p>
                    </div>
                 </div>
                <!-- <div class="image">
                    <img src="https://s37805.pcdn.co/fotocasa-life/wp-content/uploads/2019/06/baratos-1.jpg.optimal.jpg" alt="">
                    <p class="price">{{property.precio}}</p>
                </div> -->
                <div class="content">
                    <div class="photo-agent">
                        <img src="https://i.imgur.com/1aF2eY7.png" alt="">
                    </div>
                    <div class="description">
                        <h2 class="title">{{property.tipo}} en {{property.ciudad}}, {{property.zona}}</h2>
                        <div class="caracteristicas">
                            <p *ngIf="property.detalles.habitaciones" >{{property.detalles.habitaciones}} Hab</p>
                            <p *ngIf="property.detalles.banos" >{{property.detalles.banos}} Baños</p>
                            <p *ngIf="property.detalles.tamano" >{{property.detalles.tamano}} m²</p>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </section>
































    <section class="testimonials">
        <h2>Testimonios</h2>
        <div class="testimonials-container">

            <div *ngFor="let testimonial of dataTestimonialsClients" class="card-testimonial">
                <div class="data-client">
                    <div class="img">
                        <img [src]="testimonial.image" alt="">
                    </div>
                    <div class="name-and-type">
                        <p class="name">{{testimonial.name}}</p>
                        <p class="type">{{testimonial.tipoCliente}} feliz</p>
                    </div>
                </div>
                <div class="text-testimonial">
                    <p>{{testimonial.comment}}</p>
                </div>
                <div class="starts">
                    <img src="https://i.imgur.com/s5CGNPX.png" alt="">
                </div>
            </div>


            



        </div>
    </section>





    <section class="contact">
        <div class="container-contact">
            <div class="form-contact">
                <div class="form">
                    <h2 class="title">Ponte en contacto conmigo para planificar tu próxima transacción inmobiliaria.</h2>
                    <p class="description">Completa el formulario a continuación y me pondré en contacto contigo lo antes posible.</p>
                    <div class="inputs">
                        <div>
                            <label for="nombre" class="label">Nombre:*</label>
                            <input type="text" id="nombre" class="input" placeholder="Nombre">
                        </div>   
                        <div>
                            <label for="apellido" class="label">Apellido:*</label>
                            <input type="text" id="apellido" class="input" placeholder="Apellido">
                        </div>
                        
                        <div>
                            <label for="correo" class="label">Correo Electrónico:*</label>
                            <input type="email" id="correo" class="input" placeholder="Correo Electrónico">
                        </div>
                        
                        <div>
                           <label for="movil" class="label">Móvil:</label>
                            <input type="tel" id="movil" class="input" placeholder="Móvil"> 
                        </div>
                        
                        <div>
                            <label for="mensaje" class="label">Mensaje:</label>
                            <textarea name="mensaje" id="mensaje" class="input" placeholder="Escribe tu mensaje aquí"></textarea>
                        </div>
                    </div>
                    <button>Enviar</button>
                    
                </div>
                <div class="photo">
                    <img src="https://i.imgur.com/itq0LHh.jpeg" alt="">
                </div>
            </div>
            
        </div>

        <div class="s">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill="#ffffff" fill-opacity="1" d="M0,192L60,186.7C120,181,240,171,360,144C480,117,600,75,720,53.3C840,32,960,32,1080,69.3C1200,107,1320,181,1380,218.7L1440,256L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
              </svg>
        </div>
    </section>







    <section class="mapa">
        <div id="map"></div>
        
        <div class="modal">
            <div class="box">
                <h3>Cómo encontrarnos</h3>
                <div class="telefono item">
                    <img src="https://i.imgur.com/Jtqy329.png" alt="">
                    <p><a href="tel:+34602451849"> (+34) 602451849</a></p>
                </div>
                
                <div class="whatsapp item">
                    <img src="https://i.imgur.com/vZnnSvF.png" alt="">
                    <p><a href="https://wa.me/34602451849" target="_blank"> (+34) 602451849</a></p>
                </div>
                
                <div class="email item">
                    <img src="https://i.imgur.com/k0iWSXC.png" alt="">
                    <p><a href="mailto:ytrabajo@gmail.com"> ysalguerot&#64;gmail.com</a></p>
                </div>
                <div class="location item">
                    <img src="https://i.imgur.com/v4JSWF2.png" alt="">
                    <p><a target="_blank" href="https://www.google.es/maps/place/REMAX+Conecta/@40.417604,-3.6693655,17z/data=!4m15!1m8!3m7!1s0xd4229000139f99d:0xbfc63bd5cc574cc7!2sREMAX+Conecta!8m2!3d40.4176015!4d-3.6696778!10e5!16s%2Fg%2F11y6px_f3z!3m5!1s0xd4229000139f99d:0xbfc63bd5cc574cc7!8m2!3d40.4176015!4d-3.6696778!16s%2Fg%2F11y6px_f3z?hl=es&entry=ttu&g_ep=EgoyMDI0MDkyMi4wIKXMDSoASAFQAw%3D%3D"> Calle Doctor Esquerdo 50, 28007, Madrid, Madrid</a> </p>
                </div>    
            </div>
            <div class="box">
                <h3>Horario de apertura</h3>
                <p>Lunes - Viernes 09:30 a 14:00 y 17:00 a 20:00</p>
                <p>Sabado - Domingo Cerrado</p>
            </div>
            
        </div>
        
        
    </section>
    


   



    <footer>
        <div class="footer-container">
            <div class="contacts">
                <div class="logo">
                    <h1>InmoYS</h1>
                </div>
                <div class="telefono item">
                    <img src="https://i.imgur.com/Jtqy329.png" alt="">
                    <p><a href="tel:+34602451849"> (+34) 602451849</a></p>
                </div>
                
                <div class="whatsapp item">
                    <img src="https://i.imgur.com/vZnnSvF.png" alt="">
                    <p><a href="https://wa.me/34602451849" target="_blank"> (+34) 602451849</a></p>
                </div>
                
                <div class="email item">
                    <img src="https://i.imgur.com/k0iWSXC.png" alt="">
                    <p><a href="mailto:ytrabajo@gmail.com"> ysalguerot&#64;gmail.com</a></p>
                </div>
                <div class="location item">
                    <img src="https://i.imgur.com/v4JSWF2.png" alt="">
                    <p><a target="_blank" href="https://www.google.es/maps/place/REMAX+Conecta/@40.417604,-3.6693655,17z/data=!4m15!1m8!3m7!1s0xd4229000139f99d:0xbfc63bd5cc574cc7!2sREMAX+Conecta!8m2!3d40.4176015!4d-3.6696778!10e5!16s%2Fg%2F11y6px_f3z!3m5!1s0xd4229000139f99d:0xbfc63bd5cc574cc7!8m2!3d40.4176015!4d-3.6696778!16s%2Fg%2F11y6px_f3z?hl=es&entry=ttu&g_ep=EgoyMDI0MDkyMi4wIKXMDSoASAFQAw%3D%3D"> Calle Doctor Esquerdo 50, 28007, Madrid, Madrid</a> </p>
                </div>
            </div>
            <div class="webs">
                <h3>InmoYS en Web</h3>
                <ul>
                    <a target="_blank" href="https://www.remaxconecta.es/"><li>Remax</li></a>
                    <a target="_blank" href="https://www.idealista.com/pro/remax-conecta/"><li>Idealista</li></a>
                </ul>
            </div>
            <div class="rentals">
                <h3>Alquileres en Madrid</h3>
                <p>Alquiler pisos Madrid</p>
            </div>
            <div class="sale">
                <h3>Venta de casas, pisos y locales en Madrid</h3>
                <p>Venta de pisos en Madrid</p>
            </div>
        </div>
    </footer>














 











   