<div class="contenedor">
    <header class="header-contenedor">
        <div class="header-contenedor-secundario"> 
            <div class="foto">
                <img src="https://i.imgur.com/1aF2eY7.png" alt="">
            </div>
    
    
            <div class="contenedor-formulario">
                
                <form class="form" action="">
                    <div class="header-form">
                        <div class="logo">
                            <p>InmoYS</p>
                        </div>
                        <div class="eslogan">
                            <p class="p1">Bienvenido</p>
                            <p class="p2">A Tu Nueva Casa</p>
                        </div>
                    </div>
                    <div class="inputs">
                        <input type="text">
                        <input type="text">
                        <input type="text">
                        <input type="text">
                        <input type="text">
                        <button>Enviar</button>
                    </div>
                </form>
    
            </div>
        </div>
    </header>
</div>