

<!-- boton whatsapp -->
<button class="whatsapp-btn">
    <a href="https://wa.me/34602451849" target="_blank" >
        <img src="https://i.imgur.com/pAJQjkz.png" alt="">
    </a>
</button>

<div class="contenedor">

    <!-- header -->
    <header class="header-contenedor">
        <div class="header-contenedor-secundario">
            <!-- <div class="nav">
                <app-nav></app-nav>
            </div> -->
                <div class="header-tittle">
                    <p>El mejor lugar <br> para encontrar tu hogar</p>
                </div>
                <div class="searchWrapper">
                    <div class="search">
                        <input id="zona" type="text" placeholder="Buscar Por Ciudad O Barrio">
                    </div>

                    <div class="propertyType">
                        <select id="tipoPropiedad" name="tipoPropiedad">
                            <option value="" disabled selected>Tipo De Propiedad</option>
                            <option value="vivienda">vivienda</option>
                            <option value="oficina">Oficina</option>
                            <option value="edificio">Edificio</option>
                            <option value="terreno">Terreno</option>
                        </select>
                    </div>

                    <div class="transactionType">
                        <select id="tipoTransaccion" name="tipoTransaccion">
                            <option value="" disabled selected>Comprar O Alquilar</option>
                            <option value="venta">Comprar</option>
                            <option value="alquiler">Alquilar</option>
                        </select>
                    </div>
                    <div class="buttonSearch">
                        <button (click)="buscar()">BUSCAR</button>
                    </div>
                </div>
        </div>
    </header>

    <!-- propiedades -->
    <section class="properties">
        <!-- header propiedades -->
        <div class="header">
            <p>Propiedades Disponibles</p>
        </div>
        <!-- filtros -->
        <div class="filters">
            <ul class="lista">
                <li [ngClass]="{ 'filterActive': filterActive === 'alquiler' }" class="item" (click)="filterProperties('alquiler')">
                    <img src="https://i.imgur.com/466gpFg.png" alt="">
                    <p>Alquilar</p>
                </li>
                <li [ngClass]="{ 'filterActive': filterActive === 'venta' }" class="item" (click)="filterProperties('venta')">
                    <img src="https://i.imgur.com/ybFBRp5.png" alt="">
                    <p>Comprar</p>
                </li>
                <li [ngClass]="{ 'filterActive': filterActive === 'todos' }" class="item" (click)="filterProperties('todos')">
                    <img src="https://i.imgur.com/VUbVc9R.png" alt="">
                    <p>Todos</p>
                </li>
            </ul>
        </div>
        <!-- lista de propiedades -->
        <div class="listProperties">
            <div *ngIf="mainLoadingActive" class="main-loading">
                <svg version="1.1" id="L4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 40 60 16" enable-background="new 0 0 0 0" xml:space="preserve"><circle fill="currentColor" stroke="none" cx="6" cy="50" r="6"><animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.1"/></circle><circle fill="currentColor" stroke="none" cx="26" cy="50" r="6"><animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.2"/></circle><circle fill="currentColor" stroke="none" cx="46" cy="50" r="6"><animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.3"/></circle></svg>
            </div>
            <div class="cardPropertie" *ngFor="let property of filteredProperties.slice(0, 8)">
                <div class="cardContent">
                    <div class="splide_property" >
                        <div class="transaction">
                            <p>{{ property.transaccion === 'compra' ? 'Venta' : property.transaccion }}</p>
                        </div>
                        <swiper-container [navigation]="{ nextEl: '.swiper-button-next', prevEl: '.swiper-button-prev' }" mousewheel-force-to-axis="true" class="mySwiper_property">
                            <swiper-slide class="splide_slide_property" *ngFor="let imagen of property.image">
                                <img class="imagen-slide_property" [src]="getImageUrl(property.sku, imagen)" alt="Imagen de la propiedad">
                            </swiper-slide>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </swiper-container>
                        <div class="photo-agent">
                            <img class="img-agent" src="https://i.imgur.com/1aF2eY7.png" alt="">
                        </div>
                    </div>
                    <div class="body" [routerLink]="['/propiedad', property.sku]">
                        <p class="precio">€ {{ property.precio }}</p>
                        <p class="descripcion">{{ property.tipo }} en {{ property.ciudad }}, {{ property.zona }}</p>
                    </div>
                    <div class="footer" [routerLink]="['/propiedad', property.sku]">
                        <p>Hab: {{ property.detalles.habitaciones }}</p>
                        <p>Baños: {{ property.detalles.banos }}</p>
                        <p>m²: {{ property.detalles.tamano }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-properties">
            <button routerLink="/browser">Ver Mas Propiedades</button>
        </div>
    </section>

    <!-- servicios -->
    <section class="services">
        <div class="services-container">
            <div class="left">
                <h2>Ayudamos a nuestros clientes a vender, comprar o alquilar propiedades sin complicaciones.</h2>
                <p>Gracias a su excepcional experiencia y conocimiento de los mercados de lujo frente al mar, Roland presta servicios a una amplia y selecta base de clientes de todo el mundo. Goza de una reputación de corredor tenaz.</p>
                <ul>
                    <li><img src="https://i.imgur.com/0RmqPmF.png" alt="Check"> Soporte disponible 24 horas al día, 7 días a la semana</li>
                    <li><img src="https://i.imgur.com/0RmqPmF.png" alt="Check"> Nuestro apoyo legal experto</li>
                    <li><img src="https://i.imgur.com/0RmqPmF.png" alt="Check"> Envío gratuito en nuestro sitio web</li>
                    <li><img src="https://i.imgur.com/0RmqPmF.png" alt="Check"> Asistencia para préstamos hipotecarios por parte de nuestro personal</li>
                </ul>
                <button routerLink="/contact">Contáctanos hoy</button>
            </div>
    
            <div class="center">
                <div class="card">
                    <div class="img"><img src="https://i.imgur.com/cMPvBzH.png" alt="Ícono de cámara"></div>
                    <h3>Sesión de fotos gratis</h3>
                    <p>Hacemos una evaluación gratuita para estar seguros de que quieres empezar a vender.</p>
                    <a href="#">Leer más</a>
                </div>
            </div>
    
            <div class="right">
                <div class="card">
                    <div class="img"><img src="https://i.imgur.com/bl2m8SS.png" alt="Ícono de casa"></div>
                    <h3>Vende tu casa</h3>
                    <p>Hacemos una evaluación gratuita para estar seguros de que quieres empezar a vender.</p>
                    <a href="#">Leer más</a>
                </div>
                <div class="card">
                    <div class="img"><img src="https://i.imgur.com/dKcHDs1.png" alt="Ícono de apretón de manos"></div>
                    <h3>Comprar una casa</h3>
                    <p>Hacemos una evaluación gratuita para estar seguros de que quieres empezar a vender.</p>
                    <a href="#">Leer más</a>
                </div>
            </div>
        </div>
    </section>

    <!-- porpiedades destacadas -->
    <section class="featured-section">
        <div class="header">
            <p class="title">Propiedades Destacadas</p>
            <p class="paragraph">Con una atención incomparable a los detalles, una artesanía superior y comodidades deseables, cada propiedad destacada encarna el epítome de la vida de lujo.</p>
        </div>

        <div  class="featured-properties-list">
            <div *ngFor="let property of dataPropertiesDestacadas.slice(0, 6)" class="featured-property-card">
                <div class="splide_property_destacado" >
                    <div class="transaction">
                        <p>{{ property.transaccion === 'compra' ? 'Venta' : property.transaccion }}</p>
                    </div>
                    <swiper-container [navigation]="{ nextEl: '.swiper-button-next', prevEl: '.swiper-button-prev' }" mousewheel-force-to-axis="true" class="mySwiper_property_destacado">
                       <swiper-slide class="splide_slide_property_destacado" *ngFor="let imagen of property.image">
                          <img class="imagen-slide_property_destacado" [src]="getImageUrl(property.sku, imagen)" alt="Imagen de la propiedad">
                       </swiper-slide>
                       <div class="swiper-button-next"></div>
                       <div class="swiper-button-prev"></div>
                    </swiper-container>
                    <div class="price">
                        <p>€ {{property.precio}}</p>
                    </div>
                 </div>
        
                <div class="content">
                    <div class="photo-agent">
                        <img src="https://i.imgur.com/1aF2eY7.png" alt="">
                    </div>
                    <div class="description"  [routerLink]="['/propiedad', property.sku]">
                        <h2 class="title">{{property.tipo}} en {{property.ciudad}}, {{property.zona}}</h2>
                        <div class="caracteristicas">
                            <p *ngIf="property.detalles.habitaciones" >{{property.detalles.habitaciones}} Hab</p>
                            <p *ngIf="property.detalles.banos" >{{property.detalles.banos}} Baños</p>
                            <p *ngIf="property.detalles.tamano" >{{property.detalles.tamano}} m²</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- testimonios -->
    <section class="testimonials">
        <h2>Testimonios</h2>
        <div class="testimonials-container">

            <div *ngFor="let testimonial of dataTestimonialsClients.slice(0, 6)" class="card-testimonial">
                <div class="data-client">
                    <div class="img">
                        <img [src]="testimonial.image" alt="">
                    </div>
                    <div class="name-and-type">
                        <p class="name">{{testimonial.name}}</p>
                        <p class="type">{{testimonial.tipoCliente}} feliz</p>
                    </div>
                </div>
                <div class="text-testimonial">
                    <p>{{testimonial.comment}}</p>
                </div>
                <div class="starts">
                    <img src="https://i.imgur.com/s5CGNPX.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <!-- contacto -->
    <section class="contact">
        <div class="container-contact">
            <div class="form-contact">
                <form class="form" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                    <h2 class="title">Ponte en contacto conmigo para planificar tu próxima transacción inmobiliaria.</h2>
                    <p class="description">Completa el formulario a continuación y me pondré en contacto contigo lo antes posible.</p>
                    <div class="inputs">
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" id="nombre" name="nombre" [(ngModel)]="contact.nombre" class="form-control"   placeholder="Nombre">
                          </div>
                    
                          <div class="form-group">
                            <label for="apellido">Apellido</label>
                            <input type="text" id="apellido" name="apellido" [(ngModel)]="contact.apellido" class="form-control"  placeholder="Apellido">
                          </div>
                    
                          <div class="form-group">
                            <label for="email">Correo Electrónico *</label>
                            <input type="email" id="email" name="email" [(ngModel)]="contact.email" class="form-control"   placeholder="Email*" required >
                          </div>
                    
                          <div class="form-group">
                            <label for="telefono">Teléfono *</label>
                            <input type="text" id="telefono" name="telefono" [(ngModel)]="contact.telefono"  placeholder="Telefono*" class="form-control" required>
                          </div>
                    
                        </div>
            
                        <div class="text-area">
                          <label for="mensaje" class="mensaje_label">Mensaje</label>
                          <textarea id="mensaje" name="mensaje" [(ngModel)]="contact.mensaje" placeholder="Mensaje" class="form-control" rows="5"></textarea>
                        </div>

                        <div class="button">
                            <button type="submit" class="btn" [disabled]="!contactForm.valid">
                                <span *ngIf="!enviando"> Enviar</span>
                                <span *ngIf="enviando"><svg version="1.1" id="L4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 40 60 16" enable-background="new 0 0 0 0" xml:space="preserve"><circle fill="currentColor" stroke="none" cx="6" cy="50" r="6"><animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.1"/></circle><circle fill="currentColor" stroke="none" cx="26" cy="50" r="6"><animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.2"/></circle><circle fill="currentColor" stroke="none" cx="46" cy="50" r="6"><animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.3"/></circle></svg></span>
                            </button>
                            
                                <div *ngIf="enviadoExitosamente" class="mensaje-exito">
                                    ¡Mensaje enviado!
                                </div>
                                <div *ngIf="errorEnvio" class="mensaje-error">
                                    Error al enviar el mensaje. Por favor, inténtalo de nuevo.
                                </div>
                        </div>
                </form>
                <div class="photo">
                    <img src="https://i.imgur.com/itq0LHh.jpeg" alt="">
                </div>
            </div>
            
        </div>

        <!-- <div class="s">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill="#ffffff" fill-opacity="1" d="M0,192L60,186.7C120,181,240,171,360,144C480,117,600,75,720,53.3C840,32,960,32,1080,69.3C1200,107,1320,181,1380,218.7L1440,256L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
              </svg>
        </div> -->
    </section>

    <!-- mapa -->
    <section class="mapa">
        <app-mapa></app-mapa>
    </section>

    <!-- footer -->
    <footer>
        <app-footer></app-footer>
    </footer>

</div>














 











   